# Python
.venv/
__pycache__/
*.py[cod]

/build
/dist
/*.egg-info

/temp/

kotok_model/

/data/*
!/data/lemma/
!/data/txt/.gitkeep
/logs/*
!/logs/.gitkeep
/cache/*
!/cache/.gitkeep
/models/*
!/models/.gitkeep

.DS_Store
